* {
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    background-color: #fff;
    font-family: sans-serif;
    padding: 20px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
}

.form-control {
    margin-bottom: 10px;
}